@model Unifac.BlueYonder.Web.ReportSite.Models.OrdersModel


<input id="txtOrderNumber" type="text" />
<button id="btnDataSource" type="submit" onclick="changeDataSource(document.getElementById('txtOrderNumber').value)">Lookup by Order Number</button>
<div id="grid"></div>
<script>

    


    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "http://localhost:61124/api/orders",
                        type: "GET",
                        dataType: "json",
                    }
                }
            },
            resizable: true,
            columns: [
                {
                    field: "orderNumber",
                    title: "Order Number",
                },
                {
                    field: "warehouseId",
                    title: "Warehouse ID",
                },
                {
                    field: "btCustomer",
                    title: "BT Customer",
                },
                {
                    field: "stCustomer",
                    title: "ST Customer",
                },
                {
                    field: "rtCustomer",
                    title: "RT Customer"
                },
                {
                    field: "orderType",
                    title: "Order Type"
                },
                {
                    field: "enteredDate",
                    title: "Enter Date"
                },
                {
                    field: "addDate",
                    title: "Add Date"
                },
                {
                    field: "cpoNum",
                    title: "CPO Number"
                }

                //},
                //{
                //    field: "lst_dat",
                //    title: "Last Date",
                //},
                //{
                //    field: "lst_logout_dte",
                //    title: "Last Logout Date",
                //},
                //{
                //    field: "usr_dsp",
                //    title: "User DSP",
                //}
            ],
            filterable: true,
            //have to manually specify column widths...
            //https://www.telerik.com/forums/autofitcolumn-truncating-headings
            //AutoFitColumn truncating headings
            //http://dojo.telerik.com/OYEqa/7

            sortable: {
                mode: "single",
                allowUnsort: true
            },
            toolbar: ["excel"],
            excel: {
                fileName: "Inactive Items Report.xlsx"
            },
        });
    });

    function changeDataSource(url) {
        var newds = "http://localhost:61124/api/orders/search?orderNumber=".concat(url);
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: newds,
                    type: "GET",
                    dataType: "json"
                }
            }
        });
        var grid = $("#grid").data("kendoGrid");
        grid.setDataSource(dataSource);
    }

</script>
